extends baseEmail

block content
  p Hi #{firstName},
  p forgot your password? submit a patch request with your new password to: #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') reset yer password.
  pif you did not forget yer password, ignore this.
  p - Jonas Schmedtmann, CEO